html {
    font-size: 20px
}

body {
    background-color: #6f1a07;
color: whitesmoke;
}

a {
    color: aliceblue;
}

a:visited {
    color: lightgray;
}
a:hover, a:active {
    color: #eee;
}

table {
    width: 50%;
    table-layout: fixed;
}

tr, th, td {
    border: 1px solid #12263A;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.activity-header, .activity-cell {
    width: 20%;
}

.description-header, .description-cell {
    width: 60%;
    word-wrap: break-word;
}

th {background-color: #12263a;
color: #EAC435;}